body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 背景色を白に設定 */
}

.page {
    height: 100vh; /* 各セクションの高さを100vhに設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* テキストを中央揃え */
    padding: 20px; /* セクション全体にパディングを追加 */
}
h1 {
    font-size: 3rem; /* 名前のサイズを調整 */
    font-family: cursive script, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
}

h2 {
    font-size: 1rem; /* 追加テキストのサイズを調整 */
    font-family: Arial, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
    margin-top: 1rem; /* 上部に余白を追加 */
}

p {
    font-size: 1rem; /* 段落のテキストサイズを設定 */
    font-family: Arial, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
    margin-top: 1rem; /* 上部に余白を追加 */
    padding: 0 20px; /* 両端にパディングを追加 */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #ADD8E6;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #87CEEB; /* ボタンの通常時の背景色を水色に設定 */
    color: #000; /* ボタンの文字色を黒に設定 */
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ADD8E6; /* ホバー時の背景色を少し薄い水色に設定 */
    color: #000; /* ホバー時の文字色を黒に設定 */
}

button:active {
    background-color: #FF0000; /* タッチ時の背景色を真っ赤な色に設定 */
    color: #FFFFFF; /* タッチ時の文字色を白に設定 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; /* 画像間のスペースを設定 */
    padding: 20px;
}

.grid-item {
    width: 150px; /* 正方形のサイズを設定 */
    height: 150px; /* 正方形のサイズを設定 */
    overflow: hidden; /* 写真のはみ出しを制御するために必要 */
}

.grid-item img {
    width: 100%; /* 画像の幅を親要素に合わせて調整 */
    height: 100%; /* 画像の高さを親要素に合わせて調整 */
    object-fit: cover; /* 画像を親要素にフィットさせる */
}



/* レスポンシブデザイン */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* 中くらいのスクリーン向けにフォントサイズを調整 */
    }

    h2 {
        font-size: 0.9rem; /* 中くらいのスクリーン向けにフォントサイズを調整 */
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2列に変更 */
    }
    margin-top: 200px; /* セクション間にマージンを追加 */
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* さらに小さいスクリーン向けにフォントサイズを調整 */
    }

    h2 {
        font-size: 0.8rem; /* さらに小さいスクリーン向けにフォントサイズを調整 */
    }

    .grid-container {
        grid-template-columns: 1fr; /* 1列に変更 */
    }

    .grid-item {
        width: 100%; /* 幅を100%に設定 */
        height: auto; /* 高さを自動調整 */
    }
    .page + .page {
    margin-top: 1600px; /* セクション間にマージンを追加 */
}

}
