body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* 背景色を白に設定 */
    flex-direction: column; /* コンテンツを縦方向に配置 */
}

.centered {
    text-align: center;
}

h1 {
    font-size: 3rem; /* 名前のサイズを調整 */
    font-family: Arial, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
}

h2 {
    font-size: 2rem; /* 追加テキストのサイズを調整 */
    font-family: Arial, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
    margin-top: 1rem; /* 上部に余白を追加 */
}
