body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* 背景色を白に設定 */
}

.centered {
    text-align: center;
}

h1 {
    font-size: 3rem; /* 名前のサイズを調整 */
    font-family: Arial, sans-serif; /* フォントを設定 */
    color: #000; /* テキストの色を黒に設定 */
}
